<ion-view view-title="Inicio">
  <ion-content class="padding">
    <center>
    <img   src="/img/icon.png"></img>
    </center>
    
    <h2 align="center">¡El mejor cafe Centro Americano!</h2>
    <p>
    <b>Coffee Folks</b> es una cadena internacional de café fundada en San Salvador, El Salvador. Es la compañía de café más grande de Centroamérica​ con 38 locales en 2 países. Coffee Folks sirve a los amantes del buen café bebidas preparadas frías y calientes en diferentes presentaciones.
    </p>
    <p>
     Seleccionando un icono de la parte inferior, podras tener acceso a todos los productos y servicios que Coffee Folks ofrece
    </p>

    <p>Si desea saber mas sobre el desarrollador porfavor selecione en la parte inferior la opcion "Autor"</p>
    <p align="center">¡Gracias por visitarnos!</p>

  </ion-content>
</ion-view>
